[Link URL](https://towardsdatascience.com/building-a-logistic-regression-in-python-step-by-step-becd4d56c9c8)

In [29]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

import warnings
warnings.simplefilter(action='ignore')

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/madmashup/targeted-marketing-predictive-engine/master/banking.csv',header=0)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp_var_rate    41188 non-null  float64
 16  cons_price_idx  41188 non-null  float64
 17  cons_conf_idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr_employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

In [3]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

The education column of the dataset has many categories and we need to reduce the categories for a better modelling. The education column has the following categories:
Let us group “basic.4y”, “basic.9y” and “basic.6y” together and call them “basic”.

In [4]:
data['education'] = np.where(data['education'] == 'basic.4y' , 'Basic' , data['education'])

data['education'] = np.where(data['education'] == 'basic.6.y','Basic',data['education'])

data['education'] = np.where(data['education'] == 'basic.9.y','Basic',data['education'])

data['education'].unique()

array(['Basic', 'unknown', 'university.degree', 'high.school', 'basic.9y',
       'professional.course', 'basic.6y', 'illiterate'], dtype=object)

In [5]:
data['y'].value_counts()

0    36548
1     4640
Name: y, dtype: int64

In [27]:


count_no_sub = len(data[data['y'] == 0])
count_sub = len(data[data['y']== 1])

percentage_sub = count_sub /(count_sub + count_no_sub)

print('percentage_sub ' , percentage_sub * 100)

percentage_no_sub = count_no_sub /(count_sub + count_no_sub)

print('percentage_no_sub ' , percentage_no_sub * 100)

percentage_sub  11.265417111780131
percentage_no_sub  88.73458288821988

In [7]:
data.groupby('y').mean()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
y,,,,,,,,,,
0,39.911185,220.844807,2.633085,984.113878,0.132374,0.248875,93.603757,-40.593097,3.811491,5176.166600
1,40.913147,553.191164,2.051724,792.035560,0.492672,-1.233448,93.354386,-39.789784,2.123135,5095.115991

In [8]:
data.groupby('job').mean()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
job,,,,,,,,,,,
admin.,38.187296,254.312128,2.623489,954.319229,0.189023,0.015563,93.534054,-40.245433,3.550274,5164.125350,0.129726
blue-collar,39.555760,264.542360,2.558461,985.160363,0.122542,0.248995,93.656656,-41.375816,3.771996,5175.615150,0.068943
entrepreneur,41.723214,263.267857,2.535714,981.267170,0.138736,0.158723,93.605372,-41.283654,3.791120,5176.313530,0.085165
housemaid,45.500000,250.454717,2.639623,960.579245,0.137736,0.433396,93.676576,-39.495283,4.009645,5179.529623,0.100000
management,42.362859,257.058140,2.476060,962.647059,0.185021,-0.012688,93.522755,-40.489466,3.611316,5166.650513,0.112175
retired,62.027326,273.712209,2.476744,897.936047,0.327326,-0.698314,93.430786,-38.573081,2.770066,5122.262151,0.252326
self-employed,39.949331,264.142153,2.660802,976.621393,0.143561,0.094159,93.559982,-40.488107,3.689376,5170.674384,0.104856
services,37.926430,258.398085,2.587805,979.974049,0.154951,0.175359,93.634659,-41.290048,3.699187,5171.600126,0.081381
student,25.894857,283.683429,2.104000,840.217143,0.524571,-1.408000,93.331613,-40.187543,1.884224,5085.939086,0.314286
technician,38.507638,250.232241,2.577339,964.408127,0.153789,0.274566,93.561471,-39.927569,3.820401,5175.648391,0.108260
unemployed,39.733728,249.451677,2.564103,935.316568,0.199211,-0.111736,93.563781,-40.007594,3.466583,5157.156509,0.142012
unknown,45.563636,239.675758,2.648485,938.727273,0.154545,0.357879,93.718942,-38.797879,3.949033,5172.931818,0.112121

In [9]:
data.groupby('marital').mean()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
marital,,,,,,,,,,,
divorced,44.899393,253.790330,2.61340,968.639853,0.168690,0.163985,93.606563,-40.707069,3.715603,5170.878643,0.103209
married,42.307165,257.438623,2.57281,967.247673,0.155608,0.183625,93.597367,-40.270659,3.745832,5171.848772,0.101573
single,33.158714,261.524378,2.53380,949.909578,0.211359,-0.167989,93.517300,-40.918698,3.317447,5155.199265,0.140041
unknown,40.275000,312.725000,3.18750,937.100000,0.275000,-0.221250,93.471250,-40.820000,3.313038,5157.393750,0.150000

In [10]:
data.groupby('marital').mean()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
marital,,,,,,,,,,,
divorced,44.899393,253.790330,2.61340,968.639853,0.168690,0.163985,93.606563,-40.707069,3.715603,5170.878643,0.103209
married,42.307165,257.438623,2.57281,967.247673,0.155608,0.183625,93.597367,-40.270659,3.745832,5171.848772,0.101573
single,33.158714,261.524378,2.53380,949.909578,0.211359,-0.167989,93.517300,-40.918698,3.317447,5155.199265,0.140041
unknown,40.275000,312.725000,3.18750,937.100000,0.275000,-0.221250,93.471250,-40.820000,3.313038,5157.393750,0.150000

In [11]:
cat_vars=['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']
for var in cat_vars:
    cat_list='var'+'_'+var
    cat_list = pd.get_dummies(data[var], prefix=var)
    data1=data.join(cat_list)
    data=data1
cat_vars=['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']
data_vars=data.columns.values.tolist()
to_keep=[i for i in data_vars if i not in cat_vars]

In [12]:
data_final=data[to_keep]
data_final.columns.values

data_final.head()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,44,210,1,999,0,1.4,93.444,-36.1,4.963,5228.1,...,0,0,0,0,1,0,0,0,1,0
1,53,138,1,999,0,-0.1,93.200,-42.0,4.021,5195.8,...,0,0,1,0,0,0,0,0,1,0
2,28,339,3,6,2,-1.7,94.055,-39.8,0.729,4991.6,...,0,0,0,0,1,0,0,0,0,1
3,39,185,2,999,0,-1.8,93.075,-47.1,1.405,5099.1,...,0,0,1,0,0,0,0,0,1,0
4,55,137,1,3,1,-2.9,92.201,-31.4,0.869,5076.2,...,0,0,1,0,0,0,0,0,0,1

In [14]:
X = data_final.loc[:, data_final.columns != 'y']
y = data_final.loc[:, data_final.columns == 'y']

from imblearn.over_sampling import SMOTE

os = SMOTE(random_state=0)

X,y=os.fit_resample(X, y)


Recursive Feature Elimination (RFE) is based on the idea to repeatedly construct a model and choose either the best or worst performing feature, setting the feature aside and then repeating the process with the rest of the features. This process is applied until all features in the dataset are exhausted. The goal of RFE is to select features by recursively considering smaller and smaller sets of features.

In [17]:
cols=['euribor3m', 'job_blue-collar', 'job_housemaid', 'marital_unknown', 'education_illiterate', 'default_no', 'default_unknown', 
      'contact_cellular', 'contact_telephone', 'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun', 'month_mar', 
      'month_may', 'month_nov', 'month_oct', "poutcome_failure", "poutcome_success"] 
X=X[cols]
y=y['y']
import statsmodels.api as sm
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.466181
         Iterations 7
                           Results: Logit
=====================================================================
Model:                Logit             Pseudo R-squared:  0.327
Dependent Variable:   y                 AIC:               68191.9388
Date:                 2023-03-17 19:33  BIC:               68375.9294
No. Observations:     73096             Log-Likelihood:    -34076.
Df Model:             19                LL-Null:           -50666.
Df Residuals:         73076             LLR p-value:       0.0000
Converged:            1.0000            Scale:             1.0000
No. Iterations:       7.0000
---------------------------------------------------------------------
                      Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
---------------------------------------------------------------------
euribor3m             0.1212   0.0066  18.4276 0.0000  0.1083  0.1341
job_blue-collar      -1.0786   0.0325 -33.1727 0.0000 -1.1424 -1.0149
job_housemaid        -1.5252   0.1070 -14.2578 0.0000 -1.7349 -1.3155
marital_unknown      -1.3196   0.3645  -3.6204 0.0003 -2.0340 -0.6052
education_illiterate -0.0813   0.6286  -0.1293 0.8971 -1.3134  1.1508
default_no            0.8374   0.0304  27.5314 0.0000  0.7778  0.8970
default_unknown      -0.4621   0.0475  -9.7267 0.0000 -0.5552 -0.3690
contact_cellular      1.3775   0.0352  39.1555 0.0000  1.3085  1.4464
contact_telephone    -0.4141   0.0468  -8.8501 0.0000 -0.5058 -0.3224
month_apr            -1.9667   0.0444 -44.2705 0.0000 -2.0537 -1.8796
month_aug            -3.2071   0.0418 -76.7046 0.0000 -3.2891 -3.1252
month_dec            -1.1397   0.1422  -8.0156 0.0000 -1.4184 -0.8610
month_jul            -3.0694   0.0420 -72.9994 0.0000 -3.1518 -2.9870
month_jun            -1.9035   0.0434 -43.8454 0.0000 -1.9886 -1.8184
month_mar            -0.9374   0.0804 -11.6557 0.0000 -1.0951 -0.7798
month_may            -2.3467   0.0359 -65.3129 0.0000 -2.4172 -2.2763
month_nov            -3.3078   0.0466 -70.9191 0.0000 -3.3992 -3.2163
month_oct            -0.9085   0.0714 -12.7260 0.0000 -1.0484 -0.7686
poutcome_failure     -0.9045   0.0382 -23.6780 0.0000 -0.9793 -0.8296
poutcome_success      2.3639   0.0549  43.0766 0.0000  2.2564  2.4715
=====================================================================

In [20]:
import statsmodels.api as sm
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.466181
         Iterations 7
                          Results: Logit
==================================================================
Model:               Logit            Pseudo R-squared: 0.327
Dependent Variable:  y                AIC:              68189.9557
Date:                2023-03-17 19:34 BIC:              68364.7468
No. Observations:    73096            Log-Likelihood:   -34076.
Df Model:            18               LL-Null:          -50666.
Df Residuals:        73077            LLR p-value:      0.0000
Converged:           1.0000           Scale:            1.0000
No. Iterations:      7.0000
------------------------------------------------------------------
                   Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
------------------------------------------------------------------
euribor3m          0.1212   0.0066  18.4283 0.0000  0.1083  0.1341
job_blue-collar   -1.0787   0.0325 -33.1762 0.0000 -1.1424 -1.0150
job_housemaid     -1.5252   0.1070 -14.2580 0.0000 -1.7349 -1.3156
marital_unknown   -1.3196   0.3645  -3.6203 0.0003 -2.0340 -0.6052
default_no         0.8374   0.0304  27.5313 0.0000  0.7778  0.8970
default_unknown   -0.4621   0.0475  -9.7280 0.0000 -0.5552 -0.3690
contact_cellular   1.3775   0.0352  39.1554 0.0000  1.3085  1.4464
contact_telephone -0.4141   0.0468  -8.8503 0.0000 -0.5058 -0.3224
month_apr         -1.9667   0.0444 -44.2721 0.0000 -2.0538 -1.8796
month_aug         -3.2072   0.0418 -76.7080 0.0000 -3.2891 -3.1252
month_dec         -1.1397   0.1422  -8.0156 0.0000 -1.4184 -0.8610
month_jul         -3.0694   0.0420 -73.0008 0.0000 -3.1518 -2.9870
month_jun         -1.9035   0.0434 -43.8453 0.0000 -1.9886 -1.8184
month_mar         -0.9374   0.0804 -11.6556 0.0000 -1.0950 -0.7798
month_may         -2.3467   0.0359 -65.3128 0.0000 -2.4171 -2.2763
month_nov         -3.3078   0.0466 -70.9233 0.0000 -3.3992 -3.2164
month_oct         -0.9085   0.0714 -12.7259 0.0000 -1.0484 -0.7685
poutcome_failure  -0.9045   0.0382 -23.6778 0.0000 -0.9793 -0.8296
poutcome_success   2.3639   0.0549  43.0769 0.0000  2.2563  2.4714
==================================================================

In [41]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

X

array([[ 1.05621559,  2.48702521, -0.1231496 , ..., -0.14261165,
        -0.27585576, -0.32422326],
       [ 0.5574309 , -0.4020868 , -0.1231496 , ..., -0.14261165,
        -0.27585576, -0.32422326],
       [-1.18566801, -0.4020868 , -0.1231496 , ..., -0.14261165,
        -0.27585576,  3.08429443],
       ...,
       [-1.02695883, -0.4020868 , -0.1231496 , ...,  7.01204963,
        -0.27585576,  3.08429443],
       [-0.71672726, -0.4020868 , -0.1231496 , ..., -0.14261165,
        -0.27585576, -0.32422326],
       [ 1.00003587,  2.48702521, -0.1231496 , ..., -0.14261165,
        -0.27585576, -0.32422326]])

In [47]:
# Grid search cross validation
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
grid={"C":np.logspace(-3,3,7), "penalty":["l1","l2"],"solver":['newton-cg', 'lbfgs', 'liblinear']}# l1 lasso l2 ridge
logreg=LogisticRegression()
logreg_cv=GridSearchCV(logreg,grid,cv=10)
logreg_cv.fit(X,y)

print("tuned hpyerparameters :(best parameters) ",logreg_cv.best_params_)
print("accuracy :",logreg_cv.best_score_)

tuned hpyerparameters :(best parameters)  {'C': 0.01, 'penalty': 'l1', 'solver': 'liblinear'}
accuracy : 0.8637970221672623

In [48]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(C = 0.01,penalty = 'l1',solver = 'liblinear')
logreg.fit(X, y)

LogisticRegression(C=0.01, penalty='l1', solver='liblinear')

In [49]:
# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = logreg, X = X, y = y, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 86.38 %
Standard Deviation: 6.20 %